<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Jens Franz</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li active-link><a href="#/home">Home</a></li>
                <li active-link><a href="#/about">About</a></li>
                <li login-dropdown class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <b class="caret"></b>
                    </a>

                    <div class="dropdown-menu">
                        <div class="dropdown-header">Login</div>
                        <login></login>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <!-- /container in navbar -->
</div>