/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/* ---- CSS for login dropdown ---- */
.nav > div[login-dropdown], .nav > a {
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

/* black background fill */
.navbar-inverse .navbar-nav > div[login-dropdown].open {
    color: #fff;
    background-color: #080808;
}

/* remove underline */
.navbar-inverse .navbar-nav > div[login-dropdown] > a:hover.dropdown-toggle,
.navbar-inverse .navbar-nav > div[login-dropdown] > a:focus.dropdown-toggle,
.nav > a:hover,
.nav > a:focus {
    text-decoration: none;
}

/* grey color when not hovered */
.navbar-inverse .navbar-nav > div[login-dropdown] > a.dropdown-toggle,
.nav > a {
    color: #999;
}

/* white color when hovered */
.navbar-inverse .navbar-nav > div[login-dropdown] > a:hover.dropdown-toggle,
.nav > a:hover {
    color: #fff;
}

/* put space between form elements */
form.navbar-form > * {
    margin-top: 5px;
}

@media (min-width: 768px) {
    .nav > div[login-dropdown], .nav > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* ---- END CSS for login dropdown ---- */
